<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">
    <!-- all products navigation dropdown menu -->
    <li class="nav-item dropdown">
      <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        All Products
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
        <a href="" class="dropdown-item">By Price</a>
        <a href="" class="dropdown-item ">By Producer</a>
        <a href="" class="dropdown-item ">By Category</a>
        <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
      </div>
    </li>

    <!-- fruit and veg navigation dropdown menu -->
    <li class="nav-item dropdown">
      <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="fruit-veg-link" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Fruit &amp; Veg
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="fruit-veg-link">
        <a href="" class="dropdown-item">Fruit</a>
        <a href="" class="dropdown-item">Vegetables</a>
        <a href="" class="dropdown-item">All Fruit &amp; Veg</a>
      </div>
    </li>

    <!-- milk and eggs navigation dropdown menu -->
    <li class="nav-item dropdown">
      <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="milk-eggs-link" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Milk &amp; Eggs
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="milk-eggs-link">
        <a href="" class="dropdown-item">Milk</a>
        <a href="" class="dropdown-item">Eggs</a>
        <a href="" class="dropdown-item">All Milk &amp; Eggs</a>
      </div>
    </li>

    <!-- pantry navigation dropdown menu -->
    <li class="nav-item dropdown">
      <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="pantry-link" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Pantry
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="pantry-link">
        <a href="" class="dropdown-item">Test1</a>
        <a href="" class="dropdown-item">Test2</a>
        <a href="" class="dropdown-item">All Pantry</a>
      </div>
    </li>

    <!-- special offers navigation dropdown menu -->
    <li class="nav-item dropdown">
      <a class="logo-font font-weight-bold nav-link text-white" href="#" id="specials-link" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Special Offers
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="specials-link">
        <a href="" class="dropdown-item">New Arrivals</a>
        <a href="" class="dropdown-item">Deals</a>
        <a href="" class="dropdown-item">All Specials</a>
      </div>
    </li>
  </ul>
</div>