<!-- The main structure of this template is based on Boutique Ado and modified for Farm Fresh -->

<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">

    <li class="nav-item d-block d-md-none">
      <a class="logo-font font-weight-bold nav-link text-green mr-5" href="{% url 'home' %}" id="home-link"
        aria-label="Link to home page">
        Home
      </a>
    </li>
    
    <!-- all products navigation dropdown menu -->
    <li class="nav-item dropdown">
      <a class="logo-font font-weight-bold nav-link text-green mr-5" href="#" id="all-products-link"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Dropdown menu for products">
        All Products
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
        <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item"
          aria-label="Sort by price">
          By Price
        </a>
        <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item"
          aria-label="Sort by category">
          By Category
        </a>
        <a href="{% url 'products' %}" class="dropdown-item" aria-label="Sort by price"
          aria-label="View all products">
          All Products
        </a>
      </div>
    </li>

    <!-- fruit and veg navigation dropdown menu -->
    <li class="nav-item dropdown">
      <a class="logo-font font-weight-bold nav-link text-green mr-5" href="#" id="fruit-veg-link" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" aria-label="Fruit and vegetable dropdown menu">
        Fruit &amp; Veg
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="fruit-veg-link">
        <a href="{% url 'products' %}?category=fruit" class="dropdown-item"
          aria-label="View fruit category">
          Fruit
        </a>
        <a href="{% url 'products' %}?category=veg" class="dropdown-item"
          aria-label="View vegetables category">
          Vegetables
        </a>
        <a href="{% url 'products' %}?category=mushrooms" class="dropdown-item"
          aria-label="View mushrooms category">
          Mushrooms
        </a>
        <a href="{% url 'products' %}?category=fruit,veg,mushrooms" class="dropdown-item"
          aria-label="View all fruit and vegetables">
          All Fruit &amp; Veg
        </a>
      </div>
    </li>

    <!-- milk and eggs navigation dropdown menu -->
    <li class="nav-item dropdown">
      <a class="logo-font font-weight-bold nav-link text-green mr-5" href="#" id="milk-eggs-link" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" aria-label="Milk and eggs dropdown menu">
        Milk &amp; Eggs
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="milk-eggs-link">
        <a href="{% url 'products' %}?category=milk" class="dropdown-item"
          aria-label="View milk category">
          Milk
        </a>
        <a href="{% url 'products' %}?category=eggs" class="dropdown-item"
          aria-label="View eggs category">
          Eggs
        </a>
        <a href="{% url 'products' %}?category=butter" class="dropdown-item"
          aria-label="View butter category">
          Butter
        </a>
        <a href="{% url 'products' %}?category=cheese" class="dropdown-item"
          aria-label="View cheese category">
          Cheese
        </a>
        <a href="{% url 'products' %}?category=milk,eggs,butter,cheese" class="dropdown-item"
          aria-label="View milk and eggs category">
          All Milk &amp; Eggs
        </a>
      </div>
    </li>

    <!-- pantry navigation dropdown menu -->
    <li class="nav-item dropdown">
      <a class="logo-font font-weight-bold nav-link text-green mr-5" href="#" id="pantry-link" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" aria-label="View pantry dropdown menu">
        Pantry
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="pantry-link">
        <a href="{% url 'products' %}?category=broth" class="dropdown-item"
          aria-label="View broth category">
          Broth
        </a>
        <a href="{% url 'products' %}?category=sauce" class="dropdown-item"
          aria-label="View sauce category">
          Sauce
        </a>
        <a href="{% url 'products' %}?category=jus" class="dropdown-item"
          aria-label="View jus category">
          Jus
        </a>
        <a href="{% url 'products' %}?category=broth,sauce,jus" class="dropdown-item"
          aria-label="View pantry category">
          All Pantry
        </a>
      </div>
    </li>

    <!-- special offers navigation dropdown menu -->
    <li class="nav-item dropdown">
      <a class="logo-font font-weight-bold nav-link text-green" href="#" id="specials-link" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" aria-label="View special offers">
        Special Offers
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="specials-link">
        <a href="{% url 'products' %}?category=special_offers" class="dropdown-item"
          aria-label="View all specials">
          All Specials
        </a>
      </div>
    </li>
  </ul>
</div>