{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

<!-- Custom block to prevent confusion -->
{% block inner_content %}

<!-- Custom header -->
<hr>
<h2 class="logo-font mb-4">{% trans "Change Password" %}</h2>
<hr>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}

        <!-- Change form to crispy instead of standard paragraph -->
        {{ form|crispy }}

        <!-- Custom return to login button -->
        <a class="btn btn-custom rounded-0" href="{% url 'account_login' %}">Return to Login</a>

        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
