{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

<!-- Custom block to prevent confusion -->
{% block inner_content %}

<!-- Custom header -->
<hr>
<h2 class="logo-font mb-4">{% trans "Set Password" %}</h2>
<hr>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        
        <!-- Change form to crispy instead of standard paragraph -->
        {{ form|crispy }}
        
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
