<!-- For loading static files -->
{% load static %}

<!-- Recommended best practises taken from Boutique Ado walkthrough project -->

<!doctype html>
<html lang="en">

<head>
  <!-- Seperate blocks were created so that I can extend this template later on and replace segments of it as needed. -->
  {% block meta %}
    <!-- This next meta tag will allow support of older Internet Explorer versions and eliminate validation errors when validating our HTML. -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  <!-- This block will contain any additional meta tags required for this application -->
  {% block extra_meta %}
  {% endblock %}

  <!-- This block contains the tag for the required CSS of Bootstrap -->
  {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  <!-- This block will contain any additional CSS required for this application -->
  {% block extra_css %}
  {% endblock %}

  <!-- This block contains all the tags required for Bootstrap as well as the
  script tag required for the font awesome kit -->
  {% block corejs %}
    <script src="https://kit.fontawesome.com/e26a309e14.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
  {% endblock %}

  <!-- This block will add any extra JavaScript required for this application. -->
  {% block extra_js %}
  {% endblock %}

  <!--  This extra title block will allow us to add an extra text to the page title when needed. -->
  <title>Farm Fresh {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <!-- Header has classes of container-fluid and fixed-top to ensure that it sticks to the top of the page -->
  <header class="container-fluid fixed-top">
    <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">

      <!-- Farm Fresh Logo -->
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
        <a href="{% url 'home' %}" class="nav-link main-logo-link">
          <h2 class="logo-font text-green my-0"><strong>Farm</strong> Fresh</h2>
        </a>
      </div>

      <!-- Search form -->
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <form method="GET" action="{% url 'products' %}">
          <div class="input-group w-100">
            <input class="form-control border border-black rounded-0" type="text" name="q"
              placeholder="Search our site">
            <div class="input-group-append">

              <!-- Search button -->
              <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                <span class="icon">
                  <i class="fas fa-search"></i>
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">

          <!-- Link to user account/product management/logout/login and for user registration -->
          <li class="list-inline-item dropdown">
            <a class="text-white nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="text-center">
                <div><i class="fas fa-user fa-lg text-green"></i></div>
                <p class="my-0 text-green">My Account</p>
              </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">

              <!-- Check if the user is authenticated(registered and logged in) -->
              {% if request.user.is_authenticated %}

                <!-- Check if the user is a superuser(manangement/owner or associated employee) -->
                {% if request.user.is_superuser %}

                  <!-- Product management link -->
                  <a href="" class="dropdown-item">Product Management</a>
                {% endif %}

                <!-- Link to user account/profile -->
                <a href="" class="dropdown-item">My Profile</a>

                <!-- Link to logout page -->
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>

              <!-- If the user is not authenticated(registered and logged in) -->
              {% else %}

                <!-- link to registration page -->
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>

                <!-- Link to login page -->
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              {% endif %}
            </div>
          </li>

          <!-- Link to shopping cart -->
          <li class="list-inline-item">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
              <div class="text-center">
                <div><i class="fas fa-shopping-bag fa-lg text-green"></i></div>
                <p class="my-0 text-green">

                  <!-- To check if the user has selected anything to purchase and display the current total purchase price -->
                  {% if grand_total %}
                  
                    <!-- Format the price to 2 decimal places -->
                    CHF{{ grand_total|floatformat:2 }}
                  {% else %}
                    CHF0.00
                  {% endif %}
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- main navbars -->
    <div class="row bg-white">
      <nav class="navbar navbar-expand-lg navbar-light w-100">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- mobile version of the top header -->
        {% include 'includes/mobile-top-header.html' %}
        <!-- main navigation menu -->
        {% include 'includes/main-nav.html' %}
      </nav>
    </div>

    <!-- delivery banner -->
    <div id="delivery-banner" class="row text-center">
      <div class="col bg-orange text-white">
        <h4 class="my-1">Free delivery in Zürich on orders over ${{ free_shipping_threshold }}!</h4>                
      </div>            
    </div>
  </header>

  <!-- To display any messages that we send back from Django -->
  {% if messages %}
    <div class="message-container"></div>
  {% endif %}

  <!-- This page header block will act as an additional header added to the top of pages but underneath the main header. -->
  {% block page_header %}
  {% endblock %}

  <!-- This is where pages that extend the base template will add their main content -->
  {% block content %}
  {% endblock %}

  <!-- This block will add JavaScript that we want to load at the end of the body when needed. -->
  {% block postloadjs %}
  {% endblock %}


</body>

</html>