<!-- Template extending from base.html template -->
{% extends "base.html" %}
<!-- For loading static files -->
{% load static %}

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
{% endblock %}

<!-- This block contains the main content for this template. -->
{% block content %}
  <!-- This is a full-page overlay in order to cover up the body's background image
  and give this page a white background. -->
  <div class="overlay"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col text-center mt-3">
        <h2 class="logo-font">Products</h2>
        {% for c in current_categories %}
          <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
            <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ c.friendly_name }}</span>
          </a>
        {% endfor %}
        <hr class="w-50 mb-1">
      </div>
    </div>
    <div class="row">
      <div class="product-container col-10 offset-1">
        <div class="row mt-1 mb-2">
          <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
            <div class="sort-select-wrapper w-50">
              <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
              </select>
            </div>
          </div>

          <div class="col-12 col-md-6 order-md-first">
            <p class="text-muted mt-3 text-center text-md-left">
              {% if search_term or current_categories or current_sorting != 'None_None' %}
                <span class="small"><a href="{% url 'products' %}">All Products</a> | </span>
              {% endif %}
              {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
          </div>
        </div>

        <!-- For each product, a column will be generated, inside which will be a bootstrap card. Products will stack
                on mobile, be side-by-side on small and medium screens, split into three columns on large and four columns
                on extra large screens. -->
        <div class="row">
        {% for product in products %}
          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card h-100 border-0">

              <!-- Top of card with product image -->
              {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                  <img class="card-img-top img-fluid" src="/media/{{ product.image }}" alt="{{ product.name }}">
                </a>
              {% else %}
                <a href="{% url 'product_detail' product.id %}">
                  <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
              {% endif %}

              <!-- Body of card containing the products name -->
              <div class="card-body pb-0">
                <p class="mb-0">{{ product.name }}</p>
              </div>

              <!-- Footer of card containg product attributes -->
              <div class="card-footer bg-white pt-0 border-0 text-left">
                <div class="row">
                  <div class="col">
                    <p class="lead mb-0 text-left font-weight-bold">CHF {{ product.price }}</p>
                    {% if product.category %}
                      <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                          <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                      </p>
                    {% endif %}
                    {% if product.organic %}
                      <small class="text-muted"><i class="fa-solid fa-seedling mr-1"></i>Organic</small>
                    {% else %}
                      <small class="text-muted">Non-Organic</small>
                    {% endif %}
                    {% if product.in_season %}
                      <small class="text-muted"><i class="fa-solid fa-leaf mr-1"></i>In Season</small>
                    {% else %}
                      <small class="text-muted">Not in Season</small>
                    {% endif %}
                  </div>
                </div>
              </div>

            </div>
          </div>

          <!-- Taken from Boutique Ado walkthrough project - credited in readme - display products various screen sizes-->

          <!-- For very small screens -->
          {% if forloop.counter|divisibleby:1 %}
            <div class="col-12 d-sm-none mb-5">
              <hr>
            </div>
          {% endif %}
          <!-- For small to medium screens -->
          {% if forloop.counter|divisibleby:2 %}
            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
              <hr>
            </div>
          {% endif %}
          <!-- For large screens -->
          {% if forloop.counter|divisibleby:3 %}
            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
              <hr>
            </div>
          {% endif %}
          <!-- For larger screens -->
          {% if forloop.counter|divisibleby:4 %}
            <div class="col-12 d-none d-xl-block mb-5">
              <hr>
            </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!-- This is for a convinient back to top link, which will give users a quick way
  to get back to the top of the product list -->
  <div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
      <i class="fas fa-arrow-up text-orange mx-auto my-auto"></i>
    </a>	
  </div>
{% endblock %}

{% block postloadjs %}

  <!-- This block (block.super) will append this code to anything already in the block
  as opposed to replacing it. -->
  {{ block.super }}

    <!-- This script willhandle the click function for the back to top link -->
    <script type="text/javascript">
		  $('.btt-link').click(function(e) {
			  window.scrollTo(0,0)
		  })
	  </script>
    
    <script type="text/javascript">
      // Capture sort selector change event
      $('#sort-selector').change(function() {
          var selector = $(this);
          var currentUrl = new URL(window.location);

          // Capture user selected value
          var selectedVal = selector.val();
          if(selectedVal != "reset"){

            // Capture sort parameter
            var sort = selectedVal.split("_")[0];
            // Capture direction of sorting parameter
            var direction = selectedVal.split("_")[1];

            // Replace sort and direction get parameters in the URL
            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            // Replace current location with current URL
            window.location.replace(currentUrl);
        } else {

            // If user selects reset, then delete sort and direction and replace the location 
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
      })
    </script>
{% endblock %}